<ion-header>
  <ion-toolbar>
    <ion-title>clases</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-list-header>
      <ion-label>Lista de clases</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let item of clases">
      <ion-button slot="start" fill="outline" size="large">{{ item.fecha }}</ion-button>
      <ion-button slot="start" routerLink="/asistencia-admin">Asistencia</ion-button>
    </ion-item>
  </ion-list>

  <ion-button routerLink="/actividad-admin">Volver</ion-button>

</ion-content>