<ion-card>

  <ion-card-header>
    <ion-card-title>Crear Plan</ion-card-title>
  </ion-card-header>

  <ion-card-content>

    <form>

      <ion-item>
        <ion-input slot="start" placeholder="Ejercicio"></ion-input>
        <ion-input slot="end" placeholder="Series"></ion-input>
        <ion-input slot="end" placeholder="Repeticiones"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input slot="start" placeholder="Ejercicio"></ion-input>
        <ion-input slot="end" placeholder="Series"></ion-input>
        <ion-input slot="end" placeholder="Repeticiones"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input slot="start" placeholder="Ejercicio"></ion-input>
        <ion-input slot="end" placeholder="Series"></ion-input>
        <ion-input slot="end" placeholder="Repeticiones"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input slot="start" placeholder="Ejercicio"></ion-input>
        <ion-input slot="end" placeholder="Series"></ion-input>
        <ion-input slot="end" placeholder="Repeticiones"></ion-input>
      </ion-item>

    </form>

  </ion-card-content>

  <ion-button routerLink="/plan-admin">Crear</ion-button>
  <ion-button routerLink="/planes-admin">Cancelar</ion-button>

</ion-card>